<header>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['about']">About</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
